# Hw1

### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import requests
import io

### Importing data
Importing directly from git, it's more awesome that way and I haven't try that before

In [2]:
url = "https://raw.githubusercontent.com/LukasGaigalas/DSA-Lukas-Gaigalas/master/loans_2007.csv"
s=requests.get(url).content
loan_table=pd.read_csv(io.StringIO(s.decode('utf-8')))

### Top 5 rows

In [3]:
loan_table.head(5)

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,zip_code,dti,delinq_2yrs,fico_range_high,...,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months
0,5000.0,10.65,162.87,10,24000.0,1,860,27.65,0.0,739.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2500.0,15.27,59.83,0,30000.0,0,309,1.00,0.0,744.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2400.0,15.96,84.33,10,12252.0,1,606,8.72,0.0,739.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,10000.0,13.49,339.31,10,49200.0,1,917,20.00,0.0,694.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,5000.0,7.90,156.46,3,36000.0,1,852,11.20,0.0,734.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

### (columns and rows)

In [44]:
loan_table.shape

(39252, 41)

### Variables and their data types

In [48]:
loan_table.dtypes

loan_amnt                              float64
int_rate                               float64
installment                            float64
emp_length                               int64
annual_inc                             float64
loan_status                              int64
zip_code                                 int64
dti                                    float64
delinq_2yrs                            float64
fico_range_high                        float64
inq_last_6mths                         float64
open_acc                               float64
pub_rec                                float64
revol_bal                              float64
revol_util                             float64
total_acc                              float64
last_fico_range_high                   float64
home_ownership_MORTGAGE                float64
home_ownership_NONE                    float64
home_ownership_OTHER                   float64
home_ownership_OWN                     float64
home_ownership_RENT                    float64
verification_status_Not Verified       float64
verification_status_Source Verified    float64
verification_status_Verified           float64
purpose_car                            float64
purpose_credit_card                    float64
purpose_debt_consolidation             float64
purpose_educational                    float64
purpose_home_improvement               float64
purpose_house                          float64
purpose_major_purchase                 float64
purpose_medical                        float64
purpose_moving                         float64
purpose_other                          float64
purpose_renewable_energy               float64
purpose_small_business                 float64
purpose_vacation                       float64
purpose_wedding                        float64
term_ 36 months                        float64
term_ 60 months                        float64
dtype: object

In [101]:
loan_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39252 entries, 0 to 39251
Data columns (total 41 columns):
loan_amnt                              39252 non-null float64
int_rate                               39252 non-null float64
installment                            39252 non-null float64
emp_length                             39252 non-null int64
annual_inc                             39252 non-null float64
loan_status                            39252 non-null int64
zip_code                               39252 non-null int64
dti                                    39252 non-null float64
delinq_2yrs                            39252 non-null float64
fico_range_high                        39252 non-null float64
inq_last_6mths                         39252 non-null float64
open_acc                               39252 non-null float64
pub_rec                                39252 non-null float64
revol_bal                              39252 non-null float64
revol_util                             39202 non-null float64
total_acc                              39252 non-null float64
last_fico_range_high                   39252 non-null float64
home_ownership_MORTGAGE                39252 non-null float64
home_ownership_NONE                    39252 non-null float64
home_ownership_OTHER                   39252 non-null float64
home_ownership_OWN                     39252 non-null float64
home_ownership_RENT                    39252 non-null float64
verification_status_Not Verified       39252 non-null float64
verification_status_Source Verified    39252 non-null float64
verification_status_Verified           39252 non-null float64
purpose_car                            39252 non-null float64
purpose_credit_card                    39252 non-null float64
purpose_debt_consolidation             39252 non-null float64
purpose_educational                    39252 non-null float64
purpose_home_improvement               39252 non-null float64
purpose_house                          39252 non-null float64
purpose_major_purchase                 39252 non-null float64
purpose_medical                        39252 non-null float64
purpose_moving                         39252 non-null float64
purpose_other                          39252 non-null float64
purpose_renewable_energy               39252 non-null float64
purpose_small_business                 39252 non-null float64
purpose_vacation                       39252 non-null float64
purpose_wedding                        39252 non-null float64
term_ 36 months                        39252 non-null float64
term_ 60 months                        39252 non-null float64
dtypes: float64(38), int64(3)
memory usage: 12.3 MB

### Max in Min loan Amount

In [58]:
loan_table.loan_amnt.max()

35000.0

In [59]:
loan_table.loan_amnt.min()

500.0

### Average loan amount

In [194]:
loan_table.loan_amnt.mean()

11137.18027106899

### count of loans by it's purpose
because purpose has only 0 or 1 value, sum works fine when counting

In [192]:
loan_table['purpose_car'].unique()

array([0., 1.])

In [193]:
loan_table.iloc[:,25:39].nunique()

purpose_car                   2
purpose_credit_card           2
purpose_debt_consolidation    2
purpose_educational           2
purpose_home_improvement      2
purpose_house                 2
purpose_major_purchase        2
purpose_medical               2
purpose_moving                2
purpose_other                 2
purpose_renewable_energy      2
purpose_small_business        2
purpose_vacation              2
purpose_wedding               2
dtype: int64

In [188]:
loan_table.iloc[:,25:39].sum()

purpose_car                    1536.0
purpose_credit_card            5079.0
purpose_debt_consolidation    18376.0
purpose_educational             325.0
purpose_home_improvement       2951.0
purpose_house                   372.0
purpose_major_purchase         2184.0
purpose_medical                 690.0
purpose_moving                  582.0
purpose_other                  3938.0
purpose_renewable_energy        103.0
purpose_small_business         1797.0
purpose_vacation                378.0
purpose_wedding                 941.0
dtype: float64

### list of top 10 loans loan amounts & their purposes

In [186]:
b = loan_table.sort_values('loan_amnt', ascending=False).head(10)
a = loan_table.filter(regex='purpose|loan_amnt').columns
b.loc[:,a].head(10)

,loan_amnt,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding
11423,35000.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9446,35000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
15145,35000.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14515,35000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2843,35000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15479,35000.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1561,35000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
14824,35000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14893,35000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17221,35000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0